@model FacturacionViewModel

<table id="tableFacturacion" class="table" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th style="width: 20%">Año</th>
            <th style="width: 20%">Mes</th>
            <th style="width: 20%">Bruto (€)</th>
            <th style="width: 20%">Neto (€)</th>
            <th style="width: 20%">IRPF (€)</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FacturacionData)
        {
        <tr>
            <td>@item.Year</td>
            <td>@item.Mes</td>
            <td>@item.TotalBruto €</td>
            <td>@item.TotalNeto €</td>
            <td>@item.TotalIrpf €</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>---</td>
            <td>Total</td>
            <td>@Model.TotalBruto €</td>
            <td>@Model.TotalNeto €</td>
            <td>@Model.TotalIrpf €</td>
        </tr>
    </tfoot>
</table>
