@model CreateOrEditFacturaViewModel

@{
    ViewData["Title"] = $"Editar factura: {Model.Factura.Codigo}";
}

<h2>@ViewData["Title"]</h2>

<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-12">
            <label class="control-label">Datos generales:</label>
            <hr />
            <label id="idFactura" style="display: none">@Model.Factura.IdFactura</label>
            <label id="codigoFactura" style="display: none">@Model.Factura.Codigo</label>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group  col-md-2">
                <label>Fecha</label>
                <div class="input-group date" id="dtp1">
                    <input type="text" id="Factura_Fecha" class="form-control" value="@Model.Factura.Fecha.ToString("yyyy-MM-dd")"  disabled/>
                    <span class="input-group-addon" disabled>
                        <span class="glyphicon glyphicon-calendar" disabled></span>
                    </span>
                </div>
            </div>
            <div class="form-group  col-md-1">
                <label asp-for="Factura.IRPF" class="control-label"></label>
                <input asp-for="Factura.IRPF" class="form-control" value="@Model.Factura.IRPF"/>
                <span asp-validation-for="Factura.IRPF" class="text-danger"></span>
            </div>
            <div class="form-group  col-md-1">
                <label asp-for="Factura.Descuento" class="control-label"></label>
                <input asp-for="Factura.Descuento" class="form-control" value="@Model.Factura.Descuento"/>
                <span asp-validation-for="Factura.Descuento" class="text-danger"></span>
            </div>
            <div class="form-group  col-md-4">
                <label asp-for="NombrePaciente" class="control-label"></label>
                <input asp-for="NombrePaciente" class="form-control" id="Paciente" value="@Model.NombrePaciente"/>
                <span asp-validation-for="NombrePaciente" class="text-danger"></span>
            </div>
            <div class="form-group  col-md-2">
                <label class="control-label">Total:</label>
                <label class="form-control" id="totalFactura">0</label>
            </div>
        </div>
    </div>
    <label class="control-label">Servicios:</label>
    <hr />
    <table id="tableLineas" class="table" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th style="display: none"></th>
            <th style="width: 25%">Referencia</th>
            <th style="width: 35%">Concepto</th>
            <th style="width: 15%">Cantidad</th>
            <th style="width: 15%">Precio</th>
            <th style="width: 20%">Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var linea in Model.Factura.Lineas)
            {
                <tr>
                    <td style="display: none">@linea.IdLine</td>
                    <td>--- </td>
                    <td>@linea.Concepto</td>
                    <td>@linea.Cantidad</td>
                    <td>@linea.Precio</td>
                    <td>@(linea.Precio * linea.Cantidad)</td>
                    <td><input type="button" class="btnDel btn btn-danger" value="Borrar"/></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td><input type="text" id="txtReferencia" class="form-control" /></td>
                <td><input type="text" id="txtConcepto" class="form-control" /></td>
                <td><input type="text" id="txtCantidad" class="form-control" /></td>
                <td><input type="text" id="txtPrecio" class="form-control" /></td>
                <td><label id="txtTotal" /></td>
                <td><input type="button" id="btnAdd" class="btn btn-success" value="Añadir" /></td>
            </tr>
        </tfoot>
    </table>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="col-md-2">
                <a asp-action="Index" class="btn btn-default">Volver atras</a>
            </div>
            <div class="col-md-2">
                <input type="button" id="btnSave" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <environment Names="Development">
        <script src="~/js/facturas/facturas.facturas.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
        <script src="~/lib/moment/moment.js" asp-append-version="true"></script>
        <script src="~/lib/fullcalendar/dist/fullcalendar.js" asp-append-version="true"></script>
        <script src="~/lib/fullcalendar/dist/locale/es.js" asp-append-version="true"></script>
        <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
        <link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    </environment>
    <environment Names="Production,Staging">
        <script src="~/js/min/facturas/facturas.min.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/es.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            var date = new Date(@Model.Factura.Fecha.Year,@Model.Factura.Fecha.Month-1,@Model.Factura.Fecha.Day,0,0,0,0);
            registerHandlers('@Url.Action("GetPatientNames", "Pacientes")',
                '@Url.Action("GetReferenceByNamesAsync", "Referencias")','@Url.Action("Edit", "Facturas")',
                '@Url.Action("Index","Facturas")',date);
            calculateTotal();
        });
    </script>
}