@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model List<int>
@{
    ViewData["Title"] = "Facturas";
}
<br />
<p>
    @{
        var canEditFacturas = (await AuthorizationService.AuthorizeAsync(User, "FacturasWrite")).Succeeded;
    }
    
    @if (canEditFacturas)
    {
        <a asp-action="Create" class="btn btn-primary">Nueva factura</a>
    }
</p>

<div class="well row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-12">
                <label>Buscar:</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="searchInput" />
            </div>
            <div class="col-md-3">
                @{
                    @Html.DropDownList("listayears", new SelectList(@Model), "Año", new { @class = "form-control dropdown desplegables" })
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-1">

    </div>
</div>

<div id="facturas">

</div>

@Html.AntiForgeryToken()

@section Scripts {
    <environment Names="Development">
        <script src="~/js/facturas/facturas.facturas.js" asp-append-version="true"></script>
    </environment>
    <environment Names="Production,Staging">
        <script src="~/js/min/facturas/facturas.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
    var pageSize = 50;
    $(document).ready(function () {
        getFacturasGrid('@Url.Action("GetFacturasGrid", "Facturas")', $("#searchInput").val(), 'codigo', true, 1, pageSize,$("#listayears").val());
        $("#searchInput").on('input',(function (){
            getFacturasGrid('@Url.Action("GetFacturasGrid", "Facturas")', $("#searchInput").val(), 'codigo', true, 1, pageSize,$("#listayears").val());
        }));
        $("#listayears").on('change',(function (){
            getFacturasGrid('@Url.Action("GetFacturasGrid", "Facturas")', $("#searchInput").val(), 'codigo', true, 1, pageSize,$("#listayears").val());
        }));
    });
    </script>
}

