@model Akari_Net.Core.Areas.Usuarios.Models.ViewModels.ManageViewModels.ClaimsManageViewModel

@{
    Layout = null;
}
<input type="hidden" id="roleId" value="@Model.roleId" />
<div class="container">
    <div class="row">
        <hr class="col-md-2 col-md-offset-4" />
    </div>
    <div class="row">
        @foreach (var item in Model.policyItems)
        {
            <div class="col-md-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@item.Id" checked="@item.IsActive">
                    <label class="custom-control-label" for="@item.Id">@item.PolicyDesiption</label>
                </div>
            </div>
        }

    </div>
</div>

<script>
    $(document).ready(function () {
        $(":checkbox").change(function (){
            var id = $(event.target).attr('id');
            updateClaims('@Url.Action("UpdateRoleClaims", "Manage")', id);
    });
    });    
</script>