@model GridUsersViewModel
@{
    Layout = null;
}

@if (!Model.Users.Any())
{
    <div class="alert alert-warning">No se han encontrado usuarios.</div>
}
else
{
    <input id="pageSize" type="hidden" value="@Model.PageSize" />
    <table class="table table-striped table-hover site-user-list">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a id="user">
                        Usuario
                    </a>
                </th>
                <th>
                    <a id="name">
                        Nombre
                    </a>
                </th>
                <th>
                    <a id="email">
                        Email
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td><img src="@GravatarHelper.GetImage(user.Email)" class="img-circle" /></td>
                    <td>@user.UserName</td>
                    <td>@user.Name</td>
                    <td><a href="mailto:@user.Email">@user.Email</a></td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.TotalUsers > Model.Users.Count())
    {
        var lastPage = (int)Math.Ceiling((decimal)Model.TotalUsers / Model.PageSize);

        <div class="row">
            <div class="col-md-offset-3">
                <button id="first" class="btn btn-primary"><span class="glyphicon glyphicon-step-backward"></span></button>
                <button id="prev" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <span style="margin: 10px">Página @Model.Page de @lastPage</span>
                <button id="next" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></button>
                <button id="last" class="btn btn-primary"><span class="glyphicon glyphicon-step-forward"></span></button>
            </div>
        </div>
    }
}
<script type="text/javascript">
    @{
        var last = (int)Math.Ceiling((decimal)Model.TotalUsers / Model.PageSize);
    }
    $('#first').click(function () { GetUsersGrid('@Url.Action("GetUsersGrid", "Manage")', $("#searchInput").val(), '@Model.Sort', '@Model.Ascending', '1', $("#pageSize").val()); });
    $('#prev').click(function () { GetUsersGrid('@Url.Action("GetUsersGrid", "Manage")', $("#searchInput").val(),'@Model.Sort','@Model.Ascending', '@Math.Max(1, Model.Page - 1)', $("#pageSize").val()); });
    $('#next').click(function () { GetUsersGrid('@Url.Action("GetUsersGrid", "Manage")', $("#searchInput").val(),'@Model.Sort','@Model.Ascending', '@Math.Min(last, Model.Page + 1)', $("#pageSize").val()); });
    $('#last').click(function () { GetUsersGrid('@Url.Action("GetUsersGrid", "Manage")', $("#searchInput").val(), '@Model.Sort', '@Model.Ascending', '@last', $("#pageSize").val()); });
    $('#user').click(function () { GetUsersGrid('@Url.Action("GetUsersGrid", "Manage")', $("#searchInput").val(), 'username', '@Model.InvertAscending', '@Model.Page', $("#pageSize").val()); });
    $('#name').click(function () { GetUsersGrid('@Url.Action("GetUsersGrid", "Manage")', $("#searchInput").val(), 'name', '@Model.InvertAscending', '@Model.Page', $("#pageSize").val()); });
    $('#email').click(function () { GetUsersGrid('@Url.Action("GetUsersGrid", "Manage")', $("#searchInput").val(), 'email', '@Model.InvertAscending', '@Model.Page', $("#pageSize").val()); });

</script>