@model PacienteDataViewModel

@{
    ViewData["Title"] = "Editar paciente";
}

<h2>Editar paciente</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Paciente.IdPaciente" />
            <div class="form-group">
                <label asp-for="Paciente.Nombre" class="control-label"></label>
                <input asp-for="Paciente.Nombre" class="form-control" />
                <span asp-validation-for="Paciente.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.Nacimiento" class="control-label"></label>
                <input asp-for="Paciente.Nacimiento" class="form-control" />
                <span asp-validation-for="Paciente.Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.Email" class="control-label"></label>
                <input asp-for="Paciente.Email" class="form-control" />
                <span asp-validation-for="Paciente.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.Telefono" class="control-label"></label>
                <input asp-for="Paciente.Telefono" class="form-control" />
                <span asp-validation-for="Paciente.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.DNI" class="control-label"></label>
                <input asp-for="Paciente.DNI" class="form-control" />
                <span asp-validation-for="Paciente.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.Direccion" class="control-label"></label>
                <input asp-for="Paciente.Direccion" class="form-control" />
                <span asp-validation-for="Paciente.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.CP" class="control-label"></label>
                <input asp-for="Paciente.CP" class="form-control" />
                <span asp-validation-for="Paciente.CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.IdProvincia" class="control-label"></label>
                <select asp-for="Paciente.IdProvincia"asp-items="Model.Provincias"></select>
                <span asp-validation-for="Paciente.IdProvincia" class="text-danger"></span>                
            </div>
            <div class="form-group">
                <label asp-for="Paciente.IdPais" class="control-label"></label>
                <select asp-for="Paciente.IdPais" asp-items="Model.Paises"></select>
                <span asp-validation-for="Paciente.IdPais" class="text-danger"></span>     
            </div>
           
            <div class="form-group">
                @Html.LabelFor(model => model.Paciente.RGPD)
                @Html.EditorFor(model => model.Paciente.RGPD)
                @Html.ValidationMessageFor(model => model.Paciente.RGPD)
            </div>
            @{ 
                var cols = 45;
                var rows = 5;
            }
            <div class="form-group">
                @Html.LabelFor(model => model.Paciente.Enfermedades)
                @Html.TextAreaFor(model => model.Paciente.Enfermedades, new { cols = cols, rows = rows })
                @Html.ValidationMessageFor(model => model.Paciente.Enfermedades)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Paciente.Medicación)
                @Html.TextAreaFor(model => model.Paciente.Medicación, new { cols = cols, rows = rows })
                @Html.ValidationMessageFor(model => model.Paciente.Medicación)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Paciente.Alergias)
                @Html.TextAreaFor(model => model.Paciente.Alergias, new { cols = cols, rows = rows })
                @Html.ValidationMessageFor(model => model.Paciente.Alergias)
            </div>
            <div class="col-md-3">
                <a asp-action="Index" class="btn btn-default">Volver atras</a>
            </div>
            <div class="form-group col-md-2 col-md-offset-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>